<!--Formacion-->
<section class="row justify-content-center align-items-center py-5 px-md-5 py-md-5" id="Formacion">
  
  <div class="row my-3 my-md-5 align-items-center">
    <h2 class="col-12 col-md-6 text-md-start text-center  text-capitalize my-3 px-md-5  ">Formación  </h2>
    <div class=" formacion col-12 col-md-6  text-md-end text-center text-uppercase my-3 px-md-5 ">
      <button *ngIf="estaLogueado" (click)="addEditFormacion()" type="button"  class="   btn btn-outline-dark text-uppercase">
        <i class="bi bi-plus-circle fs-5 me-4"></i>Agregar Estudios
      </button>
    </div>

  <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar> 
  
  </div>

  <div  class="row justify-content-center align-items-start">

    <div *ngFor="let estudio of formacionList" class="tarjeta  px-0  m-4" style="width: 18rem;"> 
      <div class="content ">
        
        <div class="icon">
          <a><i class="bi bi-mortarboard-fill "></i></a>
        </div>

        <div class="text">
          <h3>{{estudio.nombreEstudio}}</h3>
          <h5>{{estudio.nombreAcademia}}</h5>
          <p>{{estudio.descripcion}}</p>
          <p class="text-uppercase">desde {{estudio.fechaInicio |date : "dd/MM/y" }}  hasta {{estudio.fechaFin|date : "dd/MM/y" }} </p>
        </div>

        <div *ngIf="estaLogueado" class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
          <button (click)="addEditFormacion(estudio.id)" mat-mini-fab  color="accent" >
            <mat-icon>create</mat-icon>
          </button>
          <button (click)="borrarEstudio(estudio.id)" mat-mini-fab  color="accent" >
            <mat-icon>delete_forever</mat-icon>
          </button>          
        </div>

      </div>           
      
    </div>
    
  </div>
</section>
