<!--Portafolio-->
<main class="row justify-content-center align-items-center py-5 px-md-5 py-md-5" id="proyectos">
    <div class="row my-3 my-md-5 align-items-center">
      <h2 class="col-12 col-md-6 text-md-start text-center  text-capitalize my-3 px-md-5  ">Proyectos </h2>
      <div class="col-12 col-md-6  text-md-end text-center text-uppercase my-3 px-md-5 "><button type="button" class="btn btn-outline-dark text-uppercase  "><i class="bi bi-plus-circle fs-5 me-4"></i>Agregar Proyecto</button></div>         
    </div> 
    
    <div class="row justify-content-center align-items-start">

      <div class="card px-0  border-warning m-4" style="width: 18rem;">            
        <img src="\assets\img\Portfolio-01.png" class="card-img-top" alt="...">            
        <div class="card-body border-warning border-bottom">
          <h5 class="card-title text-center text-uppercase ">Titulo del Proyecto</h5>              
        </div>            
        <div class="py-2 text-center">
          <div class="btn-group " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark"><i class="bi bi-github fs-5 me-2"></i>Repositorio</button>                
            <button type="button" class="btn btn-dark"> Live Demo<i class="bi bi-arrow-up-right-circle fs-5 ms-2"></i></button>
          </div>                         
        </div>
        <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil "></i></button>              
          <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>               
        </div>
        <button type="button" class="btn btn-warning "><i class="bi bi-arrows-move fs-4"></i></button> 
      </div>
      
      <div class="card  border-warning px-0 m-4" style="width: 18rem;">            
        <img src="\assets\img\Portfolio–02.png" class="card-img-top" alt="...">            
        <div class="card-body border-warning border-bottom">
          <h5 class="card-title text-center text-uppercase ">Titulo del Proyecto</h5>              
        </div>            
        <div class="py-2 text-center">
          <div class="btn-group " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark"><i class="bi bi-github fs-5 me-2"></i>Repositorio</button>                
            <button type="button" class="btn btn-dark"> Live Demo<i class="bi bi-arrow-up-right-circle fs-5 ms-2"></i></button>
          </div>                         
        </div>
        <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil "></i></button>              
          <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>               
        </div>
        <button type="button" class="btn btn-warning "><i class="bi bi-arrows-move fs-4"></i></button> 
      </div>  

      <div class="  card border-warning px-0 m-4" style="width: 18rem;">            
        <img src="\assets\img\Portfolio-03.png" class="card-img-top" alt="...">            
        <div class="card-body border-warning border-bottom">
          <h5 class="card-title text-center text-uppercase ">Titulo del Proyecto</h5>              
        </div>            
        <div class="py-2 text-center">
          <div class="btn-group " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark"><i class="bi bi-github fs-5 me-2"></i>Repositorio</button>                
            <button type="button" class="btn btn-dark"> Live Demo<i class="bi bi-arrow-up-right-circle fs-5 ms-2"></i></button>
          </div>                         
        </div>
        <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil "></i></button>              
          <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>               
        </div>
        <button type="button" class="btn btn-warning "><i class="bi bi-arrows-move fs-4"></i></button> 
      </div>  

      <div class=" card border-warning px-0 m-4" style="width: 18rem;">            
        <img src="\assets\img\Portfolio-04.png" class="card-img-top" alt="...">            
        <div class="card-body border-warning border-bottom">
          <h5 class="card-title text-center text-uppercase ">Titulo del Proyecto</h5>              
        </div>            
        <div class="py-2 text-center">
          <div class="btn-group " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark"><i class="bi bi-github fs-5 me-2"></i>Repositorio</button>                
            <button type="button" class="btn btn-dark"> Live Demo<i class="bi bi-arrow-up-right-circle fs-5 ms-2"></i></button>
          </div>                         
        </div>
        <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil "></i></button>              
          <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>               
        </div>
        <button type="button" class="btn btn-warning "><i class="bi bi-arrows-move fs-4"></i></button> 
      </div>
      
      <div class=" card border-warning px-0 m-4" style="width: 18rem;">            
        <img src="\assets\img\Portfolio-05.png" class="card-img-top" alt="...">            
        <div class="card-body border-warning border-bottom">
          <h5 class="card-title text-center text-uppercase ">Titulo del Proyecto</h5>              
        </div>            
        <div class="py-2 text-center">
          <div class="btn-group " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark"><i class="bi bi-github fs-5 me-2"></i>Repositorio</button>                
            <button type="button" class="btn btn-dark"> Live Demo<i class="bi bi-arrow-up-right-circle fs-5 ms-2"></i></button>
          </div>                         
        </div>
        <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil "></i></button>              
          <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>               
        </div>
        <button type="button" class="btn btn-warning "><i class="bi bi-arrows-move fs-4"></i></button> 
      </div>  

      <div class=" card border-warning px-0 m-4" style="width: 18rem;">            
        <img src="\assets\img\Portfolio-06.png" class="card-img-top" alt="...">            
        <div class="card-body border-warning border-bottom">
          <h5 class="card-title text-center text-uppercase ">Titulo del Proyecto</h5>              
        </div>            
        <div class="py-2 text-center">
          <div class="btn-group " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark"><i class="bi bi-github fs-5 me-2"></i>Repositorio</button>                
            <button type="button" class="btn btn-dark"> Live Demo<i class="bi bi-arrow-up-right-circle fs-5 ms-2"></i></button>
          </div>                         
        </div>
        <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil "></i></button>              
          <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>               
        </div>
        <button type="button" class="btn btn-warning "><i class="bi bi-arrows-move fs-4"></i></button> 
      </div>           


    </div>
              
  </main>
