<!--Portafolio-->
<main id="Proyectos" class="row justify-content-center align-items-center py-5 px-md-5 py-md-5" >
    <div class="row my-3 my-md-5 align-items-center">
      <h2 class="col-12 col-md-6 text-md-start text-center  text-capitalize my-3 px-md-5  ">Proyectos </h2>
      <div class="col-12 col-md-6  text-md-end text-center text-uppercase my-3 px-md-5 ">
        <button (click)="addEditProyecto()" type="button" class="btn agragar-proyecto text-uppercase  "><i class="bi bi-plus-circle fs-5 me-4"></i>Agregar Proyecto</button>
      </div>         
    </div> 
    
    <div  class="row justify-content-center align-items-start">
      <div *ngFor="let proyecto of proyectosList" class="card  px-0   m-4" style="width: 18rem;">            
        <img [src]="proyecto.urlImg" class="card-img-top" alt="...">            
        <div class="card-body ">
          <h5 class="card-title text-center text-uppercase ">{{proyecto.titulo}}</h5>              
        </div>            
        <div class="py-2 botones text-center">
          <a href="{{proyecto.urlLive}}" class="btn boton me-2"><i class="bi bi-arrow-up-right-circle  "></i> Live Demo</a>
          <a href="{{proyecto.urlRepositorio}}" class="btn boton "><i class="bi bi-github  "></i> Github</a>
          <!-- <div class="" role="group" aria-label="Default button group">
            <button type="button" class="boton"><i class="bi bi-github  me-2 "></i><a href="{{proyecto.urlRepositorio}}" target="_blank"></a>Repositorio</button>               
            <button type="button" class="boton"> Live Demo<i class="bi bi-arrow-up-right-circle  ms-2"></i><a href="{{proyecto.urlLive}}" target="_blank"></a></button>
          </div>                          -->
        </div>
        <div *ngIf="estaLogueado" class="btn-group position-absolute top-0 end-0 m-1" role="group" aria-label="Basic outlined example">
          <button (click)="addEditProyecto(proyecto.id)" class="me-1 botone-editar-proyecto"   mat-mini-fab  color="accent" >
            <mat-icon>create</mat-icon>
          </button>
          <button (click)="borrarProyecto(proyecto.id)" class="botone-editar-proyecto"  mat-mini-fab  color="accent" >
            <mat-icon>delete_forever</mat-icon>
          </button>               
        </div>       
        
      </div>   
    </div>
              
  </main>
