  <!--Skills-->
    
  <section class="row  justify-content-center align-items-center py-5 px-md-5 py-md-5 bg-dark" id="skills" >             


    <div class="row mh-skills justify-content-center  align-items-center">
      <div class="col-sm-12  col-md-6  position-relative ps-md-5">
        <div class="row my-3 my-md-5 align-items-center my-5">
          <h2 class="col-12   text-center text-white  text-capitalize my-3 px-md-5  ">Habilidades Profesionales</h2>
          <div class="col-12    text-center text-uppercase my-3 px-md-5 "><button type="button" class="btn btn-outline-warning text-uppercase  "><i class="bi bi-pencil-square fs-5 me-4"></i>editar habilidades profesionales</button></div>             
      
        </div> 
        <div class="mh-skills-inner pt-md-3">
          <div class="mh-profesional-skills">              
                             
            <div class="cada-skill pb-md-4 mb-md-5">                 

              <div *ngFor="let skill of skillsProfesional" class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nombre">{{skill.nombre}}</div>
                    <div class="porcentaje-num">{{skill.porcentaje}}%</div>
                  </div>
                  <div class="barra-de-progreso">
                    <div class="animacion" style="width:{{skill.porcentaje}}%;"></div>
                  </div>
                </div>
              </div>
                            

            </div>
          </div>              

        </div>
      
      </div>

      <div class="col-sm-12  col-md-6 justify-content-center  align-items-center ps-md-5">
        <div class="row my-3 my-md-5 align-items-center my-5">
          <h2 class="col-12   text-center text-white  text-capitalize my-3 px-md-5  ">Habilidades técnicas</h2>
          <div class="col-12    text-center text-uppercase my-3 px-md-5 "><button type="button" class="btn btn-outline-warning text-uppercase  "><i class="bi bi-pencil-square fs-5 me-4"></i>editar habilidades técnicas</button></div>              
      
        </div> 
        <div class="mh-professional-skills ">             
          <ul class="mh-professional-progress ">
            <li>                  
              <div class="mh-progress mh-progress-circle" data-progress="95"></div>
              <div class="pr-skill-name">Javascript</div>
              <div class="col-md-2">
                <div class="btn-group position-absolute top-0 end-0" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>              
                  <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>               
                </div>
             </div> 
            </li>

            <li>
              <div class="mh-progress mh-progress-circle" data-progress="55"></div>
              <div class="pr-skill-name">Java</div>
            </li>

            <li>
              <div class="mh-progress mh-progress-circle" data-progress="86"></div>
              <div class="pr-skill-name">PHP</div>
            </li>

            <li>
              <div class="mh-progress mh-progress-circle" data-progress="69"></div>
              <div class="pr-skill-name">Python</div>
            </li>
          </ul>
        </div>
      </div>      
        

        
      
    </div>

  </section>
