  <!--Skills-->
    
  
  <section class="row  justify-content-center align-items-center py-5 px-md-5 py-md-5 bg-dark"  >             
    <div class="row mh-skills justify-content-center  align-items-center">
      <div class="col-sm-12  col-md-6  position-relative ps-md-5">
        <div class="row my-3 my-md-5 align-items-center my-5">
          <h2 class="col-12   text-center text-white  text-capitalize my-3 px-md-5 " id="skills">Habilidades Profesionales</h2>
          <div class="col-12    text-center text-uppercase my-3 px-md-5 ">
            <button (click)="addEditHabilidad()" type="button" class="btn btn-outline-warning text-uppercase  "><i class="bi bi-plus-circle fs-5 me-4"></i>Agregar habilidad profesional</button>
          </div> 
        </div> 

        <div class="mh-skills-inner pt-md-3">
          <div class="mh-profesional-skills">            
          
            <div class="cada-skill pb-md-4 mb-md-4">                 

              <div *ngFor="let skill of skillsProfesional" class="candidatos">
                <div class="d-flex">
                  <div class=" col-10 parcial">
                    <div class="info">
                      
                      <div class="nombre">{{skill.nombreHabilidad}}</div>
                      <div class="porcentaje-num">{{skill.porcentaje}}%</div>
                      
                    </div>
                    <div class="barra-de-progreso">
                      <mat-progress-bar 
                        mode="determinate" 
                        [value]="skill.porcentaje" 
                        color="accent"
                        buffer= "0"
                      ></mat-progress-bar>
                      
                    </div>
                  </div>
  
                  <div class="btn-group col-2 ms-2" role="group" aria-label="Basic outlined example">
                    <button (click)="addEditHabilidad(skill.id)" class="m-1"  mat-mini-fab  color="accent" >
                      <mat-icon>create</mat-icon>
                    </button>
                    <button (click)="borrarHabilidad(skill.id)" class="m-1" mat-mini-fab  color="accent" >
                      <mat-icon>delete_forever</mat-icon>
                    </button>          
                  </div>
                </div>
                
                
                
              </div>
              
              
            </div>
          </div>              
        </div>   
      </div>

      <div class="col-sm-12  col-md-6 justify-content-center  align-items-center ps-md-5">
        <div class="row my-3 my-md-5 align-items-center my-5">
          <h2 class="col-12   text-center text-white  text-capitalize my-3 px-md-5  ">Habilidades técnicas</h2>
          <div class="col-12    text-center text-uppercase my-3 px-md-5 ">
            <button (click)="addEditSkill()" type="button" class="btn btn-outline-warning text-uppercase  "><i class="bi bi-plus-circle fs-5 me-4"></i>Agregar habilidad técnica</button>
          </div>            
      
        </div>

        <div class="mh-profesional-skills"> 
          <div *ngFor="let skill of skillsTecnico" class=" position-relative cada-circulo align-items-center">
            <div class="align-items-center "></div>                       

            <div  class="  mh-progress cada-circulo">
              <circle-progress 
                  [percent]="skill.porcentaje"
                  [space]="-7"
                  [radius]="60"                 
                  [outerStrokeWidth]="7"
                  [innerStrokeWidth]="7"
                  [outerStrokeColor]="'#ffc107'"
                  [innerStrokeColor]="'rgb(16, 18, 20)'"
                  [title]= "'auto'"
                  [titleColor]="'#ffffff'" 
                  [unitsColor]="'#ffffff'"
                  [unitsFontSize]="'17'"                                 
                  [showSubtitle]="false"
                  [animation]= "true"
                  [animationDuration]="600"
                  [responsive]="true"        
      
                ></circle-progress>            
              
            </div>
            <div class="pr-skill-name">{{skill.nombreSkill}}</div>
            <div class="btn-group-vertical ms-4 position-absolute top-0 end-0" role="group" aria-label="Vertical button group">
              <button (click)="addEditSkill(skill.id)" class="m-1"  mat-mini-fab  color="accent" >
                <mat-icon>create</mat-icon>
              </button>
              <button (click)="borrarSkill(skill.id)"class="m-1"  mat-mini-fab  color="accent" >
                <mat-icon>delete_forever</mat-icon>
              </button>          
            </div>         
            
          </div>


          
        </div>
        
      </div>
    </div>

  </section>
