  <!--Skills-->
    
  <section class="row  justify-content-center align-items-center py-5 px-md-5 py-md-5 bg-dark" id="skills" >             


    <div class="row mh-skills justify-content-center  align-items-center">
      <div class="col-sm-12  col-md-6  position-relative ps-md-5">
        <div class="row my-3 my-md-5 align-items-center my-5">
          <h2 class="col-12   text-center text-white  text-capitalize my-3 px-md-5  ">Habilidades Profesionales</h2>
          <div class="col-12    text-center text-uppercase my-3 px-md-5 "><button type="button" class="btn btn-outline-warning text-uppercase  "><i class="bi bi-pencil-square fs-5 me-4"></i>editar habilidades profesionales</button></div> 
        </div> 

        <div class="mh-skills-inner pt-md-3">
          <div class="mh-profesional-skills">              
                             
            <div class="cada-skill pb-md-4 mb-md-4">                 

              <div *ngFor="let skill of skillsProfesional" class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nombre">{{skill.nombre}}</div>
                    <div class="porcentaje-num">{{skill.porcentaje}}%</div>
                  </div>
                  <div class="barra-de-progreso">
                    <mat-progress-bar 
                      mode="determinate" 
                      [value]="skill.porcentaje" 
                      color="accent"
                      buffer= "0"
                    ></mat-progress-bar>
                  </div>
                </div>
              </div>

                            

            </div>
          </div>              

        </div>
      
      </div>

      <div class="col-sm-12  col-md-6 justify-content-center  align-items-center ps-md-5">
        <div class="row my-3 my-md-5 align-items-center my-5">
          <h2 class="col-12   text-center text-white  text-capitalize my-3 px-md-5  ">Habilidades técnicas</h2>
          <div class="col-12    text-center text-uppercase my-3 px-md-5 "><button type="button" class="btn btn-outline-warning text-uppercase  "><i class="bi bi-pencil-square fs-5 me-4"></i>editar habilidades técnicas</button></div>              
      
        </div>

        <div class="mh-profesional-skills"> 
          <div *ngFor="let skill of skillsTecnico" class="cada-circulo">
            <div  class="mh-progress cada-circulo">
              <circle-progress 
                  [percent]="skill.porcentaje"
                  [space]="-7"
                  [radius]="60"                 
                  [outerStrokeWidth]="7"
                  [innerStrokeWidth]="7"
                  [outerStrokeColor]="'#ffc107'"
                  [innerStrokeColor]="'rgb(16, 18, 20)'"
                  [title]= "'auto'"
                  [titleColor]="'#ffffff'" 
                  [unitsColor]="'#ffffff'"
                  [unitsFontSize]="'17'"                                 
                  [showSubtitle]="false"
                  [animation]= "true"
                  [animationDuration]="600"
                  [responsive]="true"        
      
                ></circle-progress>

              <div class="pr-skill-name">{{skill.nombre}}</div>
            </div>         
            
          </div>


          
        </div>
        
      </div>
    </div>

  </section>
