

.iconoOjo {
    background-color: #fff;
    border: 0px;   
}

.casilla {  
    width: 100%;
    margin: auto;
}

.bg {
    background-image: url(src\assets\img\june-smith-portafolio.jpg);
    background-position: center center;
}