section {
    margin-top: 0px
}



.iconoOjo {
    background-color: #fff;
    border: 0px;   
}

.login {
    background-color: #fff;
}

.bg {
    background-image: url('src\assets\img\fondo-hero.jpg') ;
    background-position: bottom center;
    background-size: cover; 
}

.container img {
    height: 150px;
    
}