

.iconoOjo {
    background-color: #fff;
    border: 0px;   
}


.bg {
    background-image: url(src\assets\img\login_ilustracion.png);
    background-position: center center;
    background-size: cover;
}

.container img {
    height: 150px;
    
}