<!--Cabecera-->
<header class="row align-items-center header-main justify-content-center mb-5 pb-5" >        
    <div class="  col-md-6  text-center text-md-start   ">                   
      <h1 >Hola, Soy {{perfil.nombre_completo}} 
      <button (click)="EditPersona()" type="button" class="btn btn-warning ms-2 ms-md-5"><i class="bi bi-pencil "></i></button> </h1>
      <h2 ><strong>{{perfil.profesion}}</strong></h2>
      <p class="text-muted fw-ligth text-capitalize">{{perfil.sobre_mi}}</p> 
              
                        
    </div>        
    <div class="col-9 col-md-3  ">          
      <div class="photo-frame position-relative shadow espacio">
        <img [src]="perfil.url_foto" alt="June Smith" class="w-100" />            
      </div>
      
    </div>


  </header> 
