<h2 mat-dialog-title>{{operacion}} Skill</h2>
<form [formGroup]="form" (ngSubmit)="addEditSkill()">
    <mat-dialog-content >    
        <mat-form-field  appearance="outline" color="accent">
            <mat-label> Habilidad Dura</mat-label>
            <input formControlName="nombre" matInput placeholder="Ingrese nombre">
            <mat-icon matSuffix>code</mat-icon>
            <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['required']">El campo Habilidad es requerido</mat-error>
            <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['minlength']">El campo Habilidad debe tener  3 caracteres o mas </mat-error>
            <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['maxlength']">El campo Habilidad debe tener  75 caracteres o menos </mat-error>
            
        </mat-form-field>
        <!-- <mat-form-field  appearance="outline" color="accent">
            <mat-label>Porcentaje </mat-label>
            <input type="number" min="1" max="100" formControlName="porcentaje" matInput placeholder="Ingrese un Número del 1 al 100">
            <mat-icon matSuffix>star_border</mat-icon>
            <mat-error *ngIf="form.get('porcentaje')?.touched && form.get('porcentaje')?.errors?.['required']">El campo Porcentaje es requerido - Ingrese solo números</mat-error>
            <mat-error *ngIf="form.get('porcentaje')?.touched && form.get('porcentaje')?.errors?.['min']">El campo Porcentaje debe ser de 1 o más </mat-error>
            <mat-error *ngIf="form.get('porcentaje')?.touched && form.get('porcentaje')?.errors?.['max']">El campo Porcentaje debe ser de 100 o menos </mat-error>
            
        </mat-form-field> -->      
        
        <label for="customRange1" class="form-label">Example range</label>
        <input formControlName="porcentaje" type="range" class="form-range" id="customRange1">  
        
        

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" (click)="cancelar()" mat-button >Cancelar</button>
        <button [disabled]="form.invalid" type="submit" mat-button  cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</form>
